<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>v02_if.html</title>
  <script src="http://unpkg.com/vue@2"></script>

</head>

<body>
  <div id="app">
    <h3>등급표기</h3>
    <p v-if="grade == 'A'">A등급</p>
    <p v-else-if="grade == 'B'">B등급</p>
    <p v-else-if="grade == 'C'">C등급</p>
    <!--지시자에 있는 값이 TRUE반환 시 ==조건만족시 태그 자체를 보이게ㅇㅇ-->
    <p v-else>기타등급</p>
    <hr>
    <h3>점수에 따른 등급표기</h3>
    <p v-if="score >= 90">A등급</p>
    <p v-else-if="score >= 80 && score < 90">B등급</p>
    <p v-else-if="score >= 70 && score < 80">C등급</p>
    <p v-else>기타등급</p>
  </div>
  <script>
    new Vue({
      el: '#app',
      data: {
        grade: 'B',
        score: 75
      }
    });
  </script>
</body>

</html>